/* .nav-anchors{
    color: var(--secondary);
}

.nav-anchors:hover{
    color: var(--secondary);
    opacity: 0.9;
}

.act{
    font-weight: 500;
    color: var(--secondary);
}

.nav-anchors:focus{
    color: var(--secondary);
    font-weight: 500;
}

.cta-button{
    background-color: var(--primary);
    border: 1px solid var(--accent1);
}

.cta-button:hover{
    background-color: var(--accent1);
    color: var(--primary);
} */
